/*---------
Anuncio ampliado
---------*/
.parte-a-izquierda {
    width: 60%;
    float: left;
}

.parte-a-derecha {
    width: 35%;
    border: 1px solid red;
    float: right;
    margin-top: 50px;
}

.imagen-curso {
    margin-top: 20px;
    max-width: 100%;
    border: 1px solid black;
}

.botones-perfil {
    margin-top: 40px;
}

.button-izquierda {
    float: left;
}

.button-derecha {
    float: right;
}

.trabajos {
    padding-top: 50px;
    clear: both;
}

.imgtrabajos {
    max-width: 25%;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.iconoval {
    float: left;
    padding-right: 10px;
}

.valoraciones {
    margin-top: 40px;
    clear: both;
}

.fotoval {
    max-width: 60px;
}

.textoval {
    float: right;
    max-width: 400px;
}

.titulos-apartados {
    margin-bottom: 20px;
}

h5.titulo-apartado {
    padding-top: 5px;
}

p.textoveranuncios {
    text-align: center;
}

p.textoveranuncios2 {
    text-align: center;
    color: #f15c22;
    font-size: 18px;
}