@font-face {
    font-family: BebasNeue;
    src: url("tipografias/BebasNeue.otf") format("opentype");
}

.parteizquierda {
    float: left;
    width: 30%;
}

.fotoperfil {
    margin-left: 75px;
    margin-top: 120px;
}

h6.modificador {
    font-family: "Lato";
    font-size: 18px;
    color: #f15c22;
    text-decoration: none;
    text-align: left;
    padding: 0px;
}

h6.tamanomaximo {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    padding: 0px;
    margin-top: -10px;
}

h3.nombrepersona {
    font-family: "BebasNeue";
    font-size: 25px;
    color: #54c4c7;
    margin-left: 75px;
    margin-top: 50px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
}

.infoperfil {

    padding: 0px;
    margin-left: 75px;
    margin-top: -15px;
    max-width: 180px;
 
}

.contactame {
    background-color: #f15c22;
    width: 160px;
    color:white;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 75px;
    margin-top: 50px;
    border-radius: 8px;
}

.contactame:hover{
    background-color:#54c4c7;
}

.infoutil {
    font-family: "Lato";
    font-size: 14px;
    max-width: 180px;
    margin-top: 20px;
    margin-left: 65px;
    padding: 0px;
    text-align: center;
}

.ayudame {
    background-color: white;
    width: 160px;
    color: #f15c22;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 90px;
    border-radius: 8px;
    border: 1px solid #f15c22;
}

.partederecha {
    float: right;
    width: 65%;
    background-color: white;
    border: 1px solid #54c4c7;
    margin-top: 80px;
    margin-right: 4%;
    margin-bottom: 50px;
}

.menuinterior {
    width: 100%;
    text-align: left;
    line-height: 5px;
    float: right;
    padding: 0px;
    background-color: #54c4c7;
}

.menuinterior ul {
    font-size: 16px;
    list-style: none;
    float: left;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

li.pestanyas {
    display: inline-block;
    margin-right: 0px;
    background-color: #54c4c7;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

li.pestanyas:hover {
    background-color: white;
    text-decoration: none;
}

h3.tituloporta {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    color: #54c4c7;
    margin-left: 120px;
    margin-top: 120px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
}

p.descripcionporta {
    font-family: "Lato";
    font-size: 14px;
    text-align: left;
    padding: 0px;
    margin-left: 120px;
    margin-top: -10px;
    max-width: 430px;
    text-decoration: none;
}

.modificar {
    font-family: "Lato";
    font-size: 14px;
    text-align: left;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0px;
    color: #f15c22;
}

.cursoshorizontal {
    width: 75%;
    margin: 0 auto;
}

.anuncioizquierdo {
    width: 45%;
    float: left;
    border: 1px solid #54c4c7;
    margin-bottom: 50px;
}

.anuncioderecho {
    width: 45%;
    float: left;
    border: 1px solid #54c4c7;
    margin-left: 50px;
}

p.texto_curso {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 30px;
}

h2.caracteristicas_curso {
    font-family: "Lato";
    font-size: 14px;
    margin: 0px;
    text-align: left;
    margin-left: 40px;
}

.otroestilo {
    color: #54c4c7;
}

.espacio_titulo {
    border-top: 1px solid #54c4c7;
    margin-top: 30px;
}

p.titulo_curso {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 200;
}


.redeshorizontal {
    margin-left: 120px;
    margin-top: 20px;
}

.redesizquierda {
    display: inline-block;
}

.redesderecha {
    display: inline-block;
    margin-left: 200px;
}

p.ulred {
    font-family: "Lato";
    font-size: 16px;
    color: #404041;
    padding: 0px;
}

h3.tituloporta2 {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    color: #54c4c7;
    margin-left: 120px;
    margin-top: 30px;
    padding: 0px;
    text-align: left;
}

.cuadradodisponibilidad {
    border: 1px solid #54c4c7;
    margin-left: 120px;
    width: 500px;
}

p.titulodias {
    font-family: "Lato";
    font-size: 16px;
    color: #54c4c7;
    display: inline-block;
    padding: 0px;
    float: left;
    margin-left: 30px;
}

form.turnos {
    float: right;
    margin-top: -15px;

}

.diashorizontal {
    width: 350px;
}

.fotostrabajos {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.fotoizquierda {
    float: left;
    width: 25%;
}

.fotomedio {
    float: left;
    width: 25%;
    margin: 0 auto;
    margin-left: 20px;
}

.fotoderecha{
    float: left;
    width: 25%;
    margin-left: 20px;
}