.sg-style-guide{
	margin: 0;
	background: #ddd;
}

.sg-wrap{
	max-width: 800px;
	margin: 0 auto;
	background: #fff;
	padding: 1rem;
}

.sg-main-title{
	text-align: center;
	font-family: "Lato", sans-serif;
	color:#ddd;
}
